@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-image: url("/img/Desktop.png");
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-e-header.is-open .w-e-header-background {
  left: 0;
}
.w-e-header-button-wrapper {
  margin-left: auto;
}
.w-e-header-icon {
  display: none;
}

.w-e-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-e-navigation-list.is-open {
  right: 0;
}
.w-e-header-icon-menu {
  display: block;
}

.w-e-header-icon-button.is-open .w-e-header-icon-menu {
  display: none;
}

.w-e-header-icon-button.is-open .w-e-header-icon-close {
  display: block;
}

.w-e-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.w-e-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(135, 97, 76, 1);
}
.w-e-header.is-open .w-e-header-background {
  left: 0;
}
.w-e-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-e-header-icon-menu {
  display: block;
}

.w-e-header-icon-button.is-open .w-e-header-icon-menu {
  display: none;
}

.w-e-header-icon-button.is-open .w-e-header-icon-close {
  display: block;
}

.w-e-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.w-e-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(135, 97, 76, 1);
}

.w-e-navigation-list.is-open {
  right: 0;
}

.w-e-navigation-link {
  font-family: Open Sans;
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.w-e-navigation-link:hover,
.w-e-navigatioт-link:focus {
  font-weight: 700;
  font-size: 24px;
}

.w-e-header.is-open {
  background-color: transparent;
}

.w-e-navigation-img {
  display: none;
}

@media screen and (min-width: 1195px) {
  .w-e-navigation-img {
    display: flex;
  }
  .w-e-policy-terms-header-icon-menu {
    display: none;
  }

  .w-e-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .w-e-header-background {
  }
  .w-e-header-icon-button {
    display: none;
  }
  .w-e-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-e-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 36px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-e-navigation-link {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  .w-e-navigation-item-desk {
    display: none;
  }
}
.w-e-home {
  width: 375px;
  height: 794px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 291.png");
  margin: auto;
}
.w-e-home-container {
  width: 375px;
  padding: 175px 16px 0px;
  margin: auto;
}

.w-e-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-e-home-title {
  width: 321.3175964355469px;
  height: 169px;
}

.w-e-home-text {
  font-family: Open Sans;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  padding: 244px 22px 21px;
}

.w-e-home-google-button-image {
  width: 208px;
  height: 54px;
}

.w-e-home-google-button-link:hover .w-e-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1195px) {
  .w-e-home {
    width: 1440px;
    height: 810px;
    background-image: url("/img/home/2.png");
  }
  .w-e-home-container {
    width: 1440px;
    padding: 136px 39px 0px;
  }
  .w-e-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .w-e-home-title {
    width: 667.3519287109375px;
    height: 351px;
  }

  .w-e-home-text {
    font-family: Open Sans;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    padding: 68px 0 21px;
    width: 799px;
    margin: auto;
  }
  .w-e-home-google-button-link {
    margin: auto;
  }
}
.w-e-about {
  margin: auto;
  width: 375px;
}
.w-e-about-div {
  background-image: url("/img/Group\ 8.png");
  height: 32px;
}
.w-e-about-container {
  width: 375px;
  padding: 80px 37px;
  margin: auto;
}
.w-e-about-title {
  font-family: Open Sans;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
.w-e-about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
}

@media screen and (min-width: 1195px) {
  .w-e-about {
    width: 1440px;
  }

  .w-e-about-container {
    width: 1440px;
    padding: 120px 181px;
    margin: auto;
  }
  .w-e-about-title {
    font-family: Open Sans;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
  }
  .w-e-about-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    gap: 16px;
    padding-top: 48px;
  }
}
.w-e-why {
  margin: auto;
  width: 375px;
}

.w-e-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px;
}
.w-e-why-div {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.w-e-why-list {
  width: 340px;
  height: 532px;
  background-image: url("/img/Frame\ 267.png");
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.w-e-why-item {
  width: 340px;
  height: 100px;
  padding: 27px 40px 0;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1195px) {
  .w-e-why {
    width: 1440px;
  }
  .w-e-why-container {
    width: 1440px;
    padding: 120px 202px;
  }
  .w-e-why-div {
    padding-top: 48px;
    display: flex;
    flex-direction: row-reverse;
    gap: 58px;
  }
  .w-e-why-list {
    width: 496px;
    height: 569px;
    background-image: url("/img/Frame\ 267\ \(1\).png");
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .w-e-why-item {
    width: 496px;
    height: 108px;

    padding: 30px 0px 0;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
}

.w-e-how {
  margin: auto;
  width: 375px;
}
.w-e-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 37px;
}
.w-e-how-list {
  background-image: url("/img/Frame\ 286.png");
  width: 300px;
  height: 884px;
  gap: 40px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}

.w-e-how-item {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  height: 140px;
  border-radius: 16px;
  padding-top: 68px;
  padding-right: 22px;
  padding-bottom: 44px;
  padding-left: 22px;
}

@media screen and (min-width: 1195px) {
  .w-e-how {
    width: 1440px;
  }
  .w-e-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 329px;
  }
  .w-e-how-list {
    background-image: url("/img/Frame\ 264.png");
    width: 804px;
    height: 422px;
    gap: 24px;

    gap: 24px;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .w-e-how-item {
    width: 252px;
    height: 199px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;

    padding-top: 68px;
    padding-right: 22px;
    padding-bottom: 44px;
    padding-left: 22px;
  }
}

.w-e-reviews {
  margin: auto;
  width: 375px;
}
.w-e-reviews-container {
  margin: auto;
  padding: 80px 20px;
  width: 375px;
}
.w-e-reviews-lists {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 26px;
}
.w-e-reviews-list {
  display: none;
}
.w-e-reviews-item {
  width: 300px;
  height: 204px;
  margin: auto;
}

.w-e-reviews-text-bold {
  background: rgba(135, 97, 76, 1);
  width: 300px;
  height: 56px;
  border-radius: 16px;
  padding-top: 17px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.w-e-reviews-text {
  background: rgba(226, 205, 178, 1);
  border: 5px solid rgba(135, 97, 76, 1);
  width: 269px;
  height: 160px;
  border-radius: 16px 16px 0 0;
  border-bottom: none;
  padding-top: 36px;
  padding-right: 24px;
  padding-bottom: 36px;
  padding-left: 24px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1195px) {
  .w-e-reviews {
    width: 1440px;
  }
  .w-e-reviews-container {
    margin: auto;
    padding: 120px 180px;
    width: 1440px;
  }
  .w-e-reviews-lists {
    display: none;
  }
  .w-e-reviews-list {
    display: block;
    margin-top: 48px;
  }
  .w-e-reviews-item {
    width: 344px;
    height: 236px;
    margin: 0 12px;
  }

  .w-e-reviews-text-bold {
    width: 344px;
    height: 69px;
    border-radius: 16px;
    padding-top: 21px;
  }

  .w-e-reviews-text {
    width: 314px;
    height: 170px;
    padding-top: 31px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
  }
}

.w-e-faq {
  margin: auto;
  width: 375px;
}
.w-e-faq-container {
  padding: 80px 20px;
  width: 375px;
  margin: auto;
}
.w-e-faq-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.w-e-faq-item {
  border-radius: 16px;
  padding: 21px;
  border: 3px solid #69c3e9;

  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.w-e-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-e-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-e-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.w-e-toggle-button img {
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1195px) {
  .w-e-faq {
    width: 1440px;
  }
  .w-e-faq-container {
    padding: 120px 356px;
    width: 1440px;
    margin: auto;
  }
  .w-e-faq-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .w-e-faq-item {
    border-radius: 16px;
    padding: 21px;
    border: 3px solid #69c3e9;

    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  }

  .w-e-faq-question {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-e-faq-answer {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.w-e-gallery {
  margin: auto;
  width: 375px;
}
.w-e-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 0px;
}
.w-e-gallery-list {
  width: auto;
  padding-top: 32px;
  margin: auto;
}

.w-e-gallery-item {
  width: 389px;
  height: 204px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.w-e-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1195px) {
  .w-e-gallery {
    width: 1440px;
  }
  .w-e-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 180px;
  }
  .w-e-gallery-item {
    width: 495px;
    height: 262px;

    margin: 0 10px;
  }

  .w-e-gallery-list {
    padding: 0px;
    margin-top: 50px;
    height: 426px;
  }
  .w-e-gallery-list .slick-slide {
    width: 495px;
    height: 262px;

    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out,
      height 0.6s ease-in-out;
  }

  .w-e-gallery-list .slick-slide.slick-center {
    width: 864px;
    height: 455px;

    z-index: 2;
  }
}

.w-e-policy-terms-container {
  padding: 148px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-e-policy-terms-container h1 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 36px;
}
.w-e-policy-terms-container h2 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.w-e-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.w-e-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1195px) {
  .w-e-policy-terms-container {
    padding: 218px 108px 60px;
    width: 1440px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-e-policy-terms-container h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;

    margin-bottom: 48px;
  }
  .w-e-policy-terms-container h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin-top: 20px;
  }
  .w-e-policy-terms-container ul {
    list-style-type: disc;
    margin: 0px 0 0 20px;
  }

  .w-e-email-link {
    color: inherit;
    text-decoration: none;
  }
}
.w-e-footer-div {
  height: 28px;
  background-image: url("/img/image\ 3.png");
}
.w-e-footer-container {
  width: 375px;
  padding: 18px 41px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.w-e-footer-wrapper {
  display: flex;
  flex-direction: column-reverse;

  gap: 24px;
}

.w-e-footer-text {
  color: inherit;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.w-e-footer-copyright {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1195px) {
  .w-e-footer-container {
    width: 1440px;
    padding: 18px 199px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .w-e-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .w-e-footer-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-e-footer-copyright {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.w-e-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(135, 97, 76, 1);

  z-index: 1000;
  display: none;
}

.w-e-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
}

.w-e-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-e-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px 0px rgba(135, 97, 76, 1);
  width: 319px;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.w-e-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1195px) {
  .w-e-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-e-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .w-e-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
